<header id="content-header">
  <h1><%= pluralize(@user.size, 'User') %></h1>
</header>

<ul id="users">
  <% @user.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>